/* Styles for the admin page */
.admin-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa; /* Màu nền nhẹ nhàng */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}

.admin-container h1 {
    color: orange;
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-container p {
    margin-bottom: 10px;
}

.admin-container ul {
    list-style-type: none;
    padding: 0;
}

.admin-container ul li {
    margin-bottom: 10px;
}

.admin-container a {
    text-decoration: none;
    color: orange;
    transition: color 0.3s ease; /* Hiệu ứng chuyển động mượt mà */
}

.admin-container a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.admin-container a.logout {
    color: #dc3545;
}

.admin-container a.logout:hover {
    color: #c82333;
    text-decoration: underline;
}

/* --------------------- trang quản lí sản phẩm ----------------- */
.product-management-container h1 {
    color: orange;
    font-size: 24px;
    margin-bottom: 20px;
}

.product-management-container ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.product-management-container ul li {
    margin-bottom: 10px;
}

.product-management-container a {
    text-decoration: none;
    color: orange;
    transition: color 0.3s ease;
}

.product-management-container a:hover {
    color: gray;
    text-decoration: underline;
}

.product-management-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-management-container table, .product-management-container th, .product-management-container td {
    border: 1px solid #ddd;
}

.product-management-container th, .product-management-container td {
    padding: 10px;
}

.product-management-container th {
    background-color: #f2f2f2;
}

.product-management-container button {
    background-color: orange;
    color: white;
    outline: none;
    border: none;
    padding: 5px 10px;
}

.product-management-container button:hover {
    background-color: gray;
    transition: 0.5s;
}

.product-management-container input {
    padding: 2.5px;
}
